body {
  margin: 0;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  display: none;
  text-align: center;
}

.menu {
  position: fixed;
  top: 60px;
  right: 30px;
}
.menudropdown {
  position: fixed;
  display: none;
  top: 70px;
  right: 30px;
  margin-top: 10px;
}

.menudropdown li{
  border: 0.5px solid grey;
  padding: 10px;
  font-size: 18px;
  font-family: "Josefin Sans";
  list-style: none;
  background-color: none;
  color: black;
}

#headtext {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}


.box1 {
  margin: 100px;
}

#container {
  /*margin-top: -100px;*/
  /*height: 100vh;
  width: 100vw;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.box {
  margin: 10px;
}

img {
  height: 300px;
  width: 300px;

}

.drinkdropdown {
  position:absolute;
  display: none;
}

.typedropdown {
  position: absolute;
  display: none;
}

.listendropdown {
  position:absolute;
  display: none;
}

.drinkdropdown li {
  border: 0.5px solid grey;
  padding: 10px;
  font-size: 18px;
  font-family: "Josefin Sans";
  list-style: none;
  background-color: none;
  color: black;
}

.typedropdown li {
   border: 0.5px solid grey;
   padding: 10px;
   font-size: 18px;
   font-family: "Josefin Sans";
   list-style: none;
   background-color: none;
   color: black;
 }

 .listendropdown li {
   border: 0.5px solid grey;
   padding: 10px;
   font-size: 18px;
   font-family: "Josefin Sans";
   list-style: none;
   background-color: none;
   color: black;
 }
